:root {
  --th_main_background: '#F9F9F9';
  --th_primary_background: '#FFFFFF';
  --th_secondary_background: '#F5F5F5';
  --th_main_accent: '#BE967E';
  --th_main_text: '#0D0D0D';
  --th_secondary_text: '#777777';
  --th_primary: '#0D0D0D';
  --th_error: '#FF0000';

  --th_white: #FFFFFF;
}