@font-face {
  font-family: 'Comfortaa';
  src:
    local('Comfortaa'),
    url('/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

.text-xs-1 {
  font-size: 12px;
  font-weight: 300;
}
.text-xs-2 {
  font-size: 12px;
  font-weight: 400;
}
.text-xs-3 {
  font-size: 12px;
  font-weight: 600;
}

.text-s-1 {
  font-size: 14px;
  font-weight: 300;
}
.text-s-2 {
  font-size: 14px;
  font-weight: 400;
}
.text-s-3 {
  font-size: 14px;
  font-weight: 600;
}

.text-m-1 {
  font-size: 16px;
  font-weight: 300;
}
.text-m-2 {
  font-size: 16px;
  font-weight: 400;
}
.text-m-3 {
  font-size: 16px;
  font-weight: 600;
}

.text-l-1 {
  font-size: 20px;
  font-weight: 300;
}
.text-l-2 {
  font-size: 20px;
  font-weight: 400;
}
.text-l-3 {
  font-size: 20px;
  font-weight: 600;
}

.header-m-1 {
  font-size: 24px;
  font-weight: 300;
}
.header-m-2 {
  font-size: 24px;
  font-weight: 400;
}
.header-m-3 {
  font-size: 24px;
  font-weight: 600;
}

.header-l-1 {
  font-size: 28px;
  font-weight: 300;
}
.header-l-2 {
  font-size: 28px;
  font-weight: 400;
}
.header-l-3 {
  font-size: 28px;
  font-weight: 600;
}

.header-xl-1 {
  font-size: 32px;
  font-weight: 300;
}
.header-xl-2 {
  font-size: 32px;
  font-weight: 400;
}
.header-xl-3 {
  font-size: 32px;
  font-weight: 600;
}
